In [1]:
#Import the libraries
import math
import pandas_datareader as pdr
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("Nifty 500.xlsx")

In [3]:
df = df[df['Volume']>500000]
df.head()

,Ticker,LTP,Open,High,Low,Prev Close,Volume,Buy,Sell,% Change
0,IDEA,9.10,9.00,9.20,8.80,8.85,418346262,0,0,2.82
1,TATAMOTORS,123.35,119.95,124.70,119.70,119.10,71095910,0,0,3.57
2,BEL,108.25,105.45,113.90,104.40,99.20,65821856,0,0,9.12
3,BHEL,36.35,36.00,37.65,35.85,35.25,60898741,0,0,3.12
4,CIPLA,797.70,760.00,814.50,751.35,728.65,56895564,0,0,9.48

In [6]:
stocks = pd.DataFrame()
for i in df["Ticker"]:
    try:
        stock = pdr.DataReader(i+".NS", data_source='yahoo', start='2020-08-12', end='2020-08-12')
        stock['Stock'] = i
        stocks = stocks.append(stock)
    except:
        print(i+": No Data")
        pass
stocks.set_index('Stock', inplace=True)

In [7]:
stocks.to_excel("stocks1208.xlsx")

,High,Low,Open,Close,Volume,Adj Close,Stock
Date,,,,,,,
2020-08-05,8.750000,8.150000,8.600000,8.300000,289455100.0,8.300000,IDEA
2020-08-05,117.650002,112.000000,112.400002,115.400002,99371050.0,115.400002,TATAMOTORS
2020-08-05,102.250000,98.849998,100.949997,100.400002,11389713.0,100.400002,BEL
2020-08-05,37.150002,36.450001,36.849998,36.700001,19603899.0,36.700001,BHEL
2020-08-05,729.950012,716.000000,720.799988,722.150024,5263136.0,722.150024,CIPLA
...,...,...,...,...,...,...,...
2020-08-05,752.000000,721.000000,727.000000,747.349976,581919.0,747.349976,VBL
2020-08-05,142.899994,136.500000,140.050003,140.100006,518663.0,140.100006,MOIL
2020-08-05,277.000000,252.500000,259.799988,267.500000,944600.0,267.500000,ESSELPACK
2020-08-05,119.650002,110.449997,111.150002,116.199997,1017200.0,116.199997,BALMLAWRIE
2020-08-05,3095.000000,2878.850098,2915.000000,3038.250000,519916.0,3038.250000,INDIAMART

In [32]:
stocks0508 = pd.read_excel("stocks0508.xlsx")

In [33]:
stocks0508.set_index('Stock', inplace=True)

In [34]:
stocks0508.head()

,Date,High,Low,Open,Close,Volume,Adj Close
Stock,,,,,,,
IDEA,2020-08-05,8.750000,8.150000,8.600000,8.300000,289455100,8.300000
TATAMOTORS,2020-08-05,117.650002,112.000000,112.400002,115.400002,99371050,115.400002
BEL,2020-08-05,102.250000,98.849998,100.949997,100.400002,11389713,100.400002
BHEL,2020-08-05,37.150002,36.450001,36.849998,36.700001,19603899,36.700001
CIPLA,2020-08-05,729.950012,716.000000,720.799988,722.150024,5263136,722.150024

In [50]:
# Close = High
stocks0508[stocks0508['Close']==stocks0508['High']]['Volume'].sort_values(ascending=False)

Stock
DISHTV       8728999
HFCL         4010664
HATHWAY      1151893
KPITTECH     1041975
VAKRANGEE     493342
VARROC        263260
Name: Volume, dtype: int64

In [47]:
# Open = Low
stocks0508[stocks0508['Open']==stocks0508['Low']]['Volume'].sort_values(ascending=False)

Stock
TATASTEEL     30559741
NATIONALUM    29447675
SOUTHBANK     17518892
NCC           14088804
GRANULES       9125048
TATASTLBSL     5893051
CDSL           2108622
RAIN           1581793
ENGINERSIN     1547447
JSLHISAR       1541797
CYIENT         1409063
BALRAMCHIN     1192768
SCI            1153710
NAUKRI         1102586
OMAXE          1087895
KPITTECH       1041975
J&KBANK         875843
AEGISCHEM       748212
TATAELXSI       706865
JSL             699395
NIACL           648949
CESC            508666
VAKRANGEE       493342
LTI             373103
AJANTPHARM      334303
POLYCAB         295975
GREAVESCOT      255098
TIMETECHNO      203721
EMAMILTD        135704
LALPATHLAB       98129
TVTODAY          85223
MAHSEAMLES       84836
AFFLE            59372
TEAMLEASE        56405
CGCL             40101
LINDEINDIA       21689
PGHL             11774
VTL              11544
BHARATRAS         9881
AKZOINDIA         5634
VMART             5175
VESUVIUS          2037
Name: Volume, dtype: int64

In [15]:
# # importing the libraries
# from bs4 import BeautifulSoup
# import requests

# url="https://www.nseindia.com/get-quotes/equity?symbol=SAIL"

# # Make a GET request to fetch the raw HTML content
# html_content = requests.get(url).text

# # Parse the html content
# soup = BeautifulSoup(html_content, "lxml")
# print(soup.prettify()) # print the parsed data of html

In [16]:
df = pd.read_csv('MW-NIFTY-MIDSMALLCAP-400-11-Aug-2020.csv')

In [17]:
df

,SYMBOL \n,OPEN \n,HIGH \n,LOW \n,PREV. CLOSE \n,LTP \n,CHNG \n,%CHNG \n,VOLUME \n(shares),VALUE,52W H \n,52W L \n,365 D % CHNG \n 09-Aug-2019,30 D % CHNG \n 10-Jul-2020
0,NIFTY MIDSMALLCAP 400,"5,593.85","5,626.90","5,591.80","5,542.85","5,616.15",73.30,1.35,1322150810,"164,658,889,824.95","6,262.30","3,650.20",3.58,5.79
1,EMAMILTD,265.00,308.75,265.00,257.30,308.75,51.45,20.00,9852405,"2,959,071,317.70",357.70,130.95,-17.44,10.95
2,HFCL,14.40,17.15,14.40,14.30,17.15,2.85,19.93,19945663,"325,313,763.53",20.50,8.10,-24.14,3.25
3,HIMATSEIDE,74.75,85.40,73.80,73.35,84.60,11.25,15.34,4938205,"397,377,356.35",165.50,42.95,-47.10,24.22
4,STAR,527.00,616.00,527.00,523.80,603.50,79.70,15.22,6172234,"3,585,080,396.56",616.00,268.00,24.15,24.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,AMBER,"1,700.00","1,779.00","1,675.45","1,779.20","1,709.50",-69.70,-3.92,238835,"411,264,316.60","1,809.00",786.20,122.61,15.30
397,JAMNAAUTO,34.40,34.40,31.85,33.95,32.35,-1.60,-4.71,1496831,"49,455,296.24",49.30,21.00,-8.61,6.43
398,HATHWAY,37.70,37.70,37.70,39.65,37.70,-1.95,-4.92,315218,"11,883,718.60",57.30,10.50,-,-
399,RBLBANK,190.75,193.30,180.10,191.30,180.60,-10.70,-5.59,33997206,"6,264,665,149.62",415.00,101.55,-50.20,5.66
400,BIRLACORPN,635.10,635.10,600.00,653.10,604.00,-49.10,-7.52,637702,"387,525,128.38",807.00,372.20,9.53,10.28

In [ ]:
#!/usr/bin/python3
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import requests
import re

_URL = 'https://kissanime.ru/'

# functional
html = requests.get(_URL, headers={"user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.157 Safari/537.36"})
bsObj = soup(html.text, "lxml")
print(bsObj)