In [10]:
#Import the libraries
# import math
import pandas_datareader as pdr
import datetime
# import mplfinance as mpf

import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
warnings.filterwarnings('ignore')

In [2]:
# values = ["INDUSTOWER", "DHANI", "ATGL", "JKTYRE", "STLTECH", "JSLHISAR"]
# df.drop(df[df['Ticker'].isin(values)].index, inplace = True)

In [3]:
# df['MA5'] = df.Close.rolling(5).mean()
# df['MA20'] = df.Close.rolling(20).mean()

# Pivot = (High + Low + Close)/3
# Bottom CPR = (High + Low)/ 2
# Top CPR = (Pivot – BC) + Pivot

#To calculate the Base Pivot Point: Pivot Point (P) = (High + Low + Close)/3 
#To calculate the First Support Level: Support 1 (S1) = P – {.382 * (High  –  Low)} 
#To calculate the Second Support Level: Support 2 (S2) = P – {.618 * (High  –  Low)} 
#To calculate the First Resistance Level: Resistance 1 (R1) = P + {.382 * (High  –  Low)} 
#To calculate the Second Resistance Level: Resistance 2 (R2) = P + {.618 * (High  –  Low)} 
#To calculate the Third Resistance Level: Resistance 3 (R3) = P + {1 * (High  –  Low)}

In [4]:
# Top 500 companies
df = pd.read_excel("Nifty 500.xlsx")
df = df[df['Volume']>500000]
print(df.shape[0])

288

In [ ]:
# Top 200 companies
df = pd.read_csv("ind_nifty200list.csv")
df.columns.values[2] = "Ticker"

In [22]:
# Top 100 companies
df = pd.read_csv("ind_nifty100list.csv")
df.columns.values[2] = "Ticker"

In [23]:
now = datetime.datetime.now()
last_month = now.month-1 if now.month > 1 else 12
last_month_start = str(now.year) + '-' + str(last_month) + '-01'
last_month_end = (datetime.date(now.year, now.month, 1) - datetime.timedelta(days=1)).strftime("%Y-%m-%d")

current_month_start = str(now.year) + '-' + str(now.month) + '-01'
current_month_end = datetime.datetime.now().strftime("%Y-%m-%d")

In [24]:
def stock_data(ticker, start, end):
    stock = pdr.DataReader(ticker+".NS", data_source='yahoo', start=start, end=end)
    return stock

In [25]:
def pivot_points(stock):
    
    high = stock['High'].max()
    low = stock['Low'].min()
    close = stock['Close'].iloc[-1]
    pivot = (high + low + close)/3
    pivotBottom = (high + low)/2
    pivotTop = (pivot - pivotBottom) + pivot
    s1 = pivot - (.382 * (high  -  low))
    s2 = pivot - (.618 * (high  -  low))
    s3 = pivot - (1 * (high  -  low))
    r1 = pivot + (.382 * (high  -  low))
    r2 = pivot + (.618 * (high  -  low))
    r3 = pivot + (1 * (high  -  low))
    
    pivotDict = {
        'Pivot': pivot, 'Pivot Bottom': pivotBottom, 'Pivot Top': pivotTop, 
        'S1': s1, 'S2': s2, 'S3': s3, 'R1': r1, 'R2': r2, 'R3': r3
    }
    
    return pivotDict

In [26]:
def stocks_position(ticker):
    
    stock_last_month = stock_data(ticker, last_month_start, last_month_end) # Getting last month stock data
    pivotPoints = pivot_points(stock_last_month) # Calculating Pivot points from last month data

    stock_current_month = stock_data(ticker, current_month_start, current_month_end) # Getting current month stock data
    if stock_current_month['Close'].iloc[-1] < pivotPoints['Pivot']:
        if stock_current_month['Close'].iloc[-1] < pivotPoints['S1']:
            if stock_current_month['Close'].iloc[-1] < pivotPoints['S2']:
                if stock_current_month['Close'].iloc[-1] < pivotPoints['S3']:
                    return ticker + ' Below S3'
                return ticker + ' Below S2'
            return ticker + ' Below S1'
#         return ticker + ' Below Pivot'

In [ ]:
for i in df['Ticker']:
    try:
        position = stocks_position(i)
        if position != None:
            print(position)
    except:
        print()
        print(f'No Data for stock {i}')
        print()

ALKEM Below S1
AUROPHARMA Below S1
BAJAJ-AUTO Below S1
BHARTIARTL Below S2
CIPLA Below S1
DRREDDY Below S1
GODREJCP Below S1
HAVELLS Below S1
HEROMOTOCO Below S1
HINDZINC Below S1
ICICIPRULI Below S2

No Data for stock INDUSTOWER

In [ ]:
# Download last month data
NoData = []
for i in df['Ticker']:
    try:
        stock = stock_data(i, last_month_start, last_month_end)
        stock.to_excel('Last Month Data/'+i+'.xlsx')
    except:
        NoData.append(i)
        print()
        print(f'No Data for stock {i}')
        print()

In [21]:
df.head()

,Company Name,Industry,Ticker,Series,ISIN Code
0,ACC Ltd.,CEMENT & CEMENT PRODUCTS,ACC,EQ,INE012A01025
1,Abbott India Ltd.,PHARMA,ABBOTINDIA,EQ,INE358A01014
2,Adani Green Energy Ltd.,POWER,ADANIGREEN,EQ,INE364U01010
3,Adani Ports and Special Economic Zone Ltd.,SERVICES,ADANIPORTS,EQ,INE742F01042
4,Adani Transmission Ltd.,POWER,ADANITRANS,EQ,INE931S01010