In [2]:
import pandas as pd
import re
import dateutil.parser as parser
import datetime

In [18]:
df = pd.read_excel("HDFC Gateway Need to.xlsx")

In [3]:
df.head()

,reg_id,reg_rsl_code,reg_startup_date,reg_biz_website,setting_merchant_mcc,biz_category_name,reg_biz_product_type,reg_biz_desc,cat_mid_code,CC_VISA_mid,CC_MSTR_mid,DC_MSTR_mid,DC_VISA_mid,CC_Rupay_mid,DC_Rupay_mid,MSP_Allocated,Remark
0,22,CCAV,2014-01-11 17:52:40.837,http://www.karnatakastatedentalcouncil.com,8021,Government Agency,Online Delivery,Renewal and registration of about 25000 practi...,Retail,NaN,NaN,75020019.0,75020019.0,NaN,75020019.0,N,CC Need to be Allocated
1,33,CCAV,2014-01-11 17:52:40.863,http://www.hyderabadgiftsdelivery.com,5947,Sole Proprietor,Physical Delivery,"Delivery of Gifts like flowers, cakes, chocola...",Retail,NaN,NaN,75020019.0,75020019.0,NaN,75020019.0,N,CC Need to be Allocated
2,38,CCAV,2014-01-11 17:52:40.873,http://www.poorwall.com,7333,Limited Liability Partnership,Online Delivery,Photography,Retail,NaN,NaN,75020019.0,75020019.0,NaN,75020019.0,N,CC Need to be Allocated
3,40,CCAV,2014-01-11 17:52:40.877,http://www.wearyourshine.com,5094,Private Ltd Company,Physical Delivery,Ecom Jewellery site,Retail,NaN,NaN,75020019.0,75020019.0,NaN,75020019.0,N,CC Need to be Allocated
4,52,CCAV,2014-01-11 17:52:40.890,http://www.uread.com,5942,Partnership,Physical Delivery,Prakash Book Depot was founded in 1948. We are...,Retail,NaN,NaN,75020019.0,75020019.0,NaN,75020019.0,N,CC Need to be Allocated

In [105]:
df.shape[0]

38520

In [6]:
regex = re.compile('\'')
for i in df:
    print(df[i].dtype)
    if(df[i].dtype == object):
            df[i] = df[i].astype(str)
            df[i] = df[i].map(lambda x: re.sub(regex, '', x))

int64
int64
datetime64[ns]
object
object
float64

In [7]:
df.head()

,Column-0,Column-1,Column-2,Column-3,Column-4,Column-5
0,140455305593619,2724129001844,2018-05-08 00:55:14,107412559543,CCAVENUEF,52883.0
1,165205305591198,2759101053400,2018-05-08 00:41:52,107412556577,CCAVENUE,499.0
2,192089305597534,4549103000009,2018-05-08 01:33:39,107412565690,CCAVENUEF,85448.0
3,206651305614769,1217101107681,2018-05-08 07:08:42,107412588495,CCAVENUE,99.0
4,212974305615863,237201001822,2018-05-08 07:12:21,107412589202,CCAVENUE,995.0

In [8]:
gte, lte = "07/05/2018 - 09/05/2018".split(" - ")

In [9]:
gte

'07/05/2018'

In [10]:
gte = datetime.strptime(gte, '%d/%m/%Y')
lte = datetime.strptime(lte, '%d/%m/%Y')

In [11]:
gte.isoformat()

'2018-05-07T00:00:00'

In [12]:
lte.isoformat()

'2018-05-09T00:00:00'

True

In [13]:
 df.head()

,Column-0,Column-1,Column-2,Column-3,Column-4,Column-5
0,140455305593619,2724129001844,2018-05-08 00:55:14,107412559543,CCAVENUEF,52883.0
1,165205305591198,2759101053400,2018-05-08 00:41:52,107412556577,CCAVENUE,499.0
2,192089305597534,4549103000009,2018-05-08 01:33:39,107412565690,CCAVENUEF,85448.0
3,206651305614769,1217101107681,2018-05-08 07:08:42,107412588495,CCAVENUE,99.0
4,212974305615863,237201001822,2018-05-08 07:12:21,107412589202,CCAVENUE,995.0

In [32]:
regex = r'^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$'
checkISO = re.compile(regex).match
a = '2018-05-08'
for i in df['Column-2'].astype(str):
    if checkISO(i) is not None:
        #logging.info('The date column is not in correct format.\n')
        #exit()
        print("dg")
print(checkISO(a))
print(i)

None
2018-05-08 00:20:15

In [22]:
checkISO = re.compile(regex)

In [30]:
print(checkISO.match(b))

None

In [26]:
type(i)

str

In [29]:
b = '56565'

In [34]:
if checkISO(b) is not None:
    print("yes")

In [1]:
df[sDbDateField] = pd.to_datetime(
        df[sDbDateField], format=dateFormat[sSourceDateFormat], errors='ignore')

NameError: name 'pd' is not defined

In [84]:
df = pd.read_csv("FSS_DB_NOCVV.csv", sep=',', header=0,  engine='python', warn_bad_lines=True, error_bad_lines=False)

In [85]:
df.head()

,Column-0,Column-1,Column-2,Column-3,Column-4,Column-5,Column-6,Column-7,Column-8,Column-9,Column-10,Column-11,Column-12,Column-13,Column-14,Column-15,Column-16,Column-17,Column-18,Column-19
0,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821810560232,107413059920,821870000240,708311,295.0,06/08/2018,07:35:20,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413059920,9e16a94ee496b71f674939a7dee4269488ee79f4bc1373...,295.0,0.0,0.0,295.0
1,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821888519390,107413070308,821870000305,716436,600.0,06/08/2018,08:06:01,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413070308,d219d752af7dedee2b9817cd6716531b66a7e4fc30fb14...,600.0,0.0,0.0,600.0
2,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821812759745,107413084767,821870000453,732215,328.0,06/08/2018,08:48:39,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413084767,a3f850737cbc9065dd0ce3f4dd8b92c1d53f6afd41df40...,328.0,0.0,0.0,328.0
3,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821812953140,107413085674,821870000472,735078,100.0,06/08/2018,08:55:06,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413085674,ac40a23b73749659d88cdee3b0db034490587fd3bae758...,100.0,0.0,0.0,100.0
4,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821885775336,107413101657,821870000647,756337,399.0,06/08/2018,09:37:29,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413101657,7487185c818eb93093a261f867a11ecdfa366aa2e22694...,399.0,0.0,0.0,399.0

In [87]:
df['Column-8'].dtype

dtype('O')

In [88]:
df[2] = df[2].apply(lambda x: x.strip())

KeyError: 2

In [17]:
regex = re.compile('\'')
for i in df:
    if(df[i].dtype == object):
        df[i] = df[i].astype(str)
        df[i] = df[i].map(lambda x: re.sub(regex, '', x))
        df[i] = df[i].apply(lambda x: x.strip())

In [18]:
df['Column-8'] = df['Column-8'].astype(str)

In [19]:
df['Column-8'] = df['Column-8'].map(lambda x: datetime.datetime.strptime(str(x), '%d/%m/%Y'))

In [20]:
df['Column-8'] = df['Column-8'].map(lambda x: datetime.datetime.strftime(x, '%Y-%m-%d %H:%M:%S'))

In [14]:
df.head()

,Column-0,Column-1,Column-2,Column-3,Column-4,Column-5,Column-6,Column-7,Column-8,Column-9,Column-10,Column-11,Column-12,Column-13,Column-14,Column-15,Column-16,Column-17,Column-18,Column-19
0,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821810560232,107413059920,821870000240,708311,295.0,2018-08-06T00:00:00Z,07:35:20,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413059920,9e16a94ee496b71f674939a7dee4269488ee79f4bc1373...,295.0,0.0,0.0,295.0
1,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821888519390,107413070308,821870000305,716436,600.0,2018-08-06T00:00:00Z,08:06:01,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413070308,d219d752af7dedee2b9817cd6716531b66a7e4fc30fb14...,600.0,0.0,0.0,600.0
2,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821812759745,107413084767,821870000453,732215,328.0,2018-08-06T00:00:00Z,08:48:39,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413084767,a3f850737cbc9065dd0ce3f4dd8b92c1d53f6afd41df40...,328.0,0.0,0.0,328.0
3,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821812953140,107413085674,821870000472,735078,100.0,2018-08-06T00:00:00Z,08:55:06,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413085674,ac40a23b73749659d88cdee3b0db034490587fd3bae758...,100.0,0.0,0.0,100.0
4,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821885775336,107413101657,821870000647,756337,399.0,2018-08-06T00:00:00Z,09:37:29,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413101657,7487185c818eb93093a261f867a11ecdfa366aa2e22694...,399.0,0.0,0.0,399.0

In [11]:
df[6][0].dtype

AttributeError: 'str' object has no attribute 'dtype'

In [97]:
x = ['a', 'b', 'c']
y = ['b', 'a']

In [98]:
import collections
collections.Counter(x) == collections.Counter(y)

False

In [114]:
# List of string 
list1 = ['Hi' ,  'hello', 'at', 'this', 'there', 'from']
 
# List of string
list2 = ['there' , 'hello', 'Hi', 'from']

In [115]:
all(elem in list1  for elem in list2)

True

In [3]:
df = pd.DataFrame(
        columns=['date', 'client', 'amount', 'transID', 'serialNumber'])

In [4]:
df.empty

True

In [5]:
df.shape[0]

0

In [16]:
df = pd.read_csv('FSS_DB_NOCVV.csv', sep=',', header=0,
                                 engine='python', warn_bad_lines=True, error_bad_lines=False)

In [9]:
df.head()

,Column-0,Column-1,Column-2,Column-3,Column-4,Column-5,Column-6,Column-7,Column-8,Column-9,Column-10,Column-11,Column-12,Column-13,Column-14,Column-15,Column-16,Column-17,Column-18,Column-19
0,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821810560232,107413059920,821870000240,708311,295.0,06/08/2018,07:35:20,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413059920,9e16a94ee496b71f674939a7dee4269488ee79f4bc1373...,295.0,0.0,0.0,295.0
1,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821888519390,107413070308,821870000305,716436,600.0,06/08/2018,08:06:01,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413070308,d219d752af7dedee2b9817cd6716531b66a7e4fc30fb14...,600.0,0.0,0.0,600.0
2,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821812759745,107413084767,821870000453,732215,328.0,06/08/2018,08:48:39,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413084767,a3f850737cbc9065dd0ce3f4dd8b92c1d53f6afd41df40...,328.0,0.0,0.0,328.0
3,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821812953140,107413085674,821870000472,735078,100.0,06/08/2018,08:55:06,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413085674,ac40a23b73749659d88cdee3b0db034490587fd3bae758...,100.0,0.0,0.0,100.0
4,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821885775336,107413101657,821870000647,756337,399.0,06/08/2018,09:37:29,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413101657,7487185c818eb93093a261f867a11ecdfa366aa2e22694...,399.0,0.0,0.0,399.0