In [1]:
#Import the libraries
import pandas_datareader as pdr
import yfinance as yf
import datetime
# import mplfinance as mpf

import warnings
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
warnings.filterwarnings('ignore')

In [2]:
years = 1

now = datetime.datetime.now()

start_date = (datetime.date((int(now.year) - years),now.month,1) - datetime.timedelta(days=4)).strftime("%Y-%m-%d")
end_date = (datetime.date((int(now.year) - years),now.month,1) - datetime.timedelta(days=1)).strftime("%Y-%m-%d")
stock = pdr.DataReader("NEOGEN.NS", data_source='yahoo', start=start_date, end=end_date)
num = stock.index[-1].strftime("%Y-%m-%d")
preClose = stock.iloc[-1]['Close']

start_date = (datetime.date((int(now.year) - years),now.month,1)).strftime("%Y-%m-%d")
end_date =  now.strftime("%Y-%m-%d")

stock = pdr.DataReader("NEOGEN.NS", data_source='yahoo', start=start_date, end=end_date)

In [11]:
stock.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-07-01,479.000000,469.250000,475.350006,477.799988,14468.0,476.425720
2020-07-02,525.549988,485.049988,489.950012,525.549988,84982.0,524.038391
2020-07-03,537.000000,504.000000,533.950012,525.250000,132170.0,523.739258
2020-07-06,531.950012,511.000000,530.000000,519.049988,24745.0,517.557068
2020-07-07,570.950012,515.000000,528.500000,569.849976,173350.0,568.210938

In [ ]:
total = 0
for index, row in stock.iterrows():
    print(index.strftime("%Y-%m-%d"))

In [93]:
((stock.iloc[1]['High'] - stock.iloc[0]['Close'])/stock.iloc[0]['Close'])*100

0.7996607103017502

In [94]:
num

10.0

In [71]:
pdr.DataReader("NEOGEN.NS", data_source='yahoo', start='2021-02-25', end=end_date)

                  High         Low        Open       Close  Volume   Adj Close
Date
2021-02-25  882.849976  821.250000  871.950012  832.950012   61432  832.950012
2021-02-26  843.750000  810.000000  822.000000  819.049988   42473  819.049988
2021-03-01  851.900024  816.049988  830.000000  829.700012   38575  829.700012
2021-03-02  844.150024  812.000000  834.849976  822.700012   48132  822.700012
2021-03-03  938.000000  848.849976  849.000000  890.000000  297989  890.000000
...                ...         ...         ...         ...     ...         ...
2021-07-16  919.750000  885.000000  915.000000  890.299988   67636  890.299988
2021-07-19  914.000000  882.500000  892.000000  894.200012   57788  894.200012
2021-07-20  898.700012  875.000000  890.000000  879.849976   34295  879.849976
2021-07-22  905.000000  877.750000  899.950012  890.000000   64052  890.000000
2021-07-23  905.000000  885.000000  892.099976  892.099976   36219  892.099976

[100 rows x 6 columns]

In [7]:
stock.index[-1].strftime("%Y-%m-%d")

'2020-06-30'

In [9]:
(datetime.date((int(now.year) - years),now.month,1)).strftime("%Y-%m-%d")

'2020-07-01'

In [86]:
stock.index[-1] > stock.index[-2]

True

In [79]:
stock

                  High         Low        Open       Close  Volume   Adj Close
Date
2020-06-29  494.899994  476.000000  494.899994  480.899994   11866  479.516815
2020-06-30  490.000000  474.899994  489.799988  475.200012   17365  473.833221

In [77]:
pdr.DataReader("NEOGEN.NS", data_source='yahoo', start='2021-07-21', end='2021-07-23')

            High     Low        Open       Close  Volume   Adj Close
Date
2021-07-22   905  877.75  899.950012  890.000000   64052  890.000000
2021-07-23   905  885.00  892.099976  892.099976   36219  892.099976

In [16]:
stock.iloc[-1]['Close']

909.1500244140625

In [35]:
lst = [1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,10]

In [41]:
num=0
total=0
for i in lst:
    if i > num:
        total += i
        num = i
    else:
        print(total)
        total=i
        num=0
total

55
36
45

46

In [40]:
t=0
for i in [1,2,3,4,5,6,7,8,9]:
    t+=i
t

45

In [24]:
from dateutil.relativedelta import relativedelta

new_date = now - relativedelta(years=1)

In [26]:
new_date.strftime("%Y-%m-%d")

'2020-07-25'

In [47]:
datetime.date(2020,7,25)

datetime.date(2020, 7, 25)