In [1]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pymssql
from sqlalchemy import MetaData, create_engine
import pyodbc
from sqlalchemy.orm import Session
from sqlalchemy import (MetaData, Table, Column, Integer, Numeric, String,
                        DateTime, ForeignKey, create_engine)
from sqlalchemy import select
from datetime import datetime
import pandas as pd

In [35]:
df = pd.read_csv('data/COP_NBK.txt', sep='^',
                 header=None,  engine='python', error_bad_lines=False)
df.head()

Skipping line 1497: Expected 14 fields in line 1497, saw 15

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,220,107411425232,https://www.ccavenue.com/,13806.00,T,00220180803076869838,S,30820180711,NaN,0,23,SBGEN,20101,520101048774371
1,220,CCAFH2AEW895,220,1995.00,T,00220180803076869844,S,30820180712,NaN,Ahmedabad to hubli,347,SBGEN,20101,520101004966917
2,220,CCAFH2AEW896,220,2794.00,T,00220180803076869894,S,30820180715,NaN,0,124,SBGEN,20101,520101008129920
3,220,107411434398,https://api.zaakpay.com,266.80,T,00220180803076870498,S,30820180751,NaN,25senniappan,5,CAGEN,10101,510101005866668
4,220,107411434837,http://ranchimunicipal.net,3140.26,T,00220180803076870564,S,30820180755,NaN,0,457,SBGEN,20101,520101264745041

In [36]:
srcDstDict = {7: 'date', 2: 'client', 3: 'amount', 5: 'transID', 13: 'serialNumber'}
sSourceColumns = [7, 2, 3, 5, 13]
df = df[[2, 3, 5, 7, 13]]
df.rename(columns=srcDstDict, inplace=True)
df = df[['date', 'client', 'amount', 'transID', 'serialNumber']]

In [34]:
df.head()

,date,client,amount,transID,serialNumber
0,30820180711,https://www.ccavenue.com/,13806.00,00220180803076869838,520101048774371
1,30820180712,220,1995.00,00220180803076869844,520101004966917
2,30820180715,220,2794.00,00220180803076869894,520101008129920
3,30820180751,https://api.zaakpay.com,266.80,00220180803076870498,510101005866668
4,30820180755,http://ranchimunicipal.net,3140.26,00220180803076870564,520101264745041

In [37]:
db_username = 'avn_monitor'
db_password = 'Pass@123'
db_ip = '192.168.1.30'
db_name = 'Req_data'

engine = create_engine('mssql+pymssql://{0}:{1}@{2}/{3}'.
                       format(db_username, db_password,
                              db_ip, db_name), pool_pre_ping=True, pool_recycle=3600)

In [38]:
engine

Engine(mssql+pymssql://avn_monitor:***@192.168.1.30/Req_data)

In [51]:
metadata = MetaData()

# print(engine.execute(s).fetchall())

In [55]:
php_test1 = Table('php_test', metadata, autoload=True, autoload_with=engine)
s = select([php_test1]).limit(1)
engine.execute(s).fetchall()

[(1, '30820180711', 'https://www.ccavenue.com/', '13806.0', '00220180803076869838', '520101048774371')]

In [54]:
df.to_sql('php_test', con=engine, if_exists='append', index=False)

In [49]:
# php_test.drop(engine)

In [53]:
php_test = Table('php_test', metadata,
                 Column('id', Integer(), primary_key=True),
                 Column('date', String(50)),
                 Column('client', String(50)),
                 Column('amount', String(50)),
                 Column('transID', String(50), index=True),
                 Column('serialNumber', String(50))
                 )
metadata.create_all(engine)

In [62]:
import io
import requests
url="http://10.10.10.54/DataProcessor/assets/data/cop_nbk_tomssql_286_COP_NBK_1560394201.txt"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')), sep='^', header=None,  engine='python', error_bad_lines=False)
c

Skipping line 1497: Expected 14 fields in line 1497, saw 15

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,220,107411425232,https://www.ccavenue.com/,13806.00,T,00220180803076869838,S,30820180711,NaN,0,23,SBGEN,20101,520101048774371
1,220,CCAFH2AEW895,220,1995.00,T,00220180803076869844,S,30820180712,NaN,Ahmedabad to hubli,347,SBGEN,20101,520101004966917
2,220,CCAFH2AEW896,220,2794.00,T,00220180803076869894,S,30820180715,NaN,0,124,SBGEN,20101,520101008129920
3,220,107411434398,https://api.zaakpay.com,266.80,T,00220180803076870498,S,30820180751,NaN,25senniappan,5,CAGEN,10101,510101005866668
4,220,107411434837,http://ranchimunicipal.net,3140.26,T,00220180803076870564,S,30820180755,NaN,0,457,SBGEN,20101,520101264745041
5,220,107411436172,https://api.zaakpay.com,4356.00,T,00220180803076870590,S,30820180757,NaN,0,2090,SBGEN,20101,520101070763883
6,220,107411442745,https://www.ccavenue.com/,20065.00,T,00220180803076871159,S,30820180820,NaN,to yatra satish kumar,335,ODEMP,65181,565181000111364
7,220,107411443335,http://www.makemytrip.com,4811.00,T,00220180803076871213,S,30820180821,NaN,Flight Tickets,737,SBGEN,20101,520101041226387
8,220,107411449214,https://www.ccavenue.com/,12616.00,T,00220180803076871683,S,30820180839,NaN,Bangalore trip,609,CAGEN,10101,510101005810931
9,220,107411450801,https://www.marutiinsurance.co,4434.00,T,00220180803076871798,S,30820180843,NaN,amount,112,SBPYR,20441,520441023401064
10,220,107411452003,https://api.zaakpay.com,101.80,T,00220180803076871878,S,30820180846,NaN,0,596,SBGEN,20101,520101001812110
11,220,107411455500,https://api.zaakpay.com,1481.80,T,00220180803076872222,S,30820180857,NaN,Good,182,SBSPP,20291,520291002581510
12,220,107411458237,https://www.drivetrackplus.com,4000.00,T,00220180803076872463,S,30820180904,NaN,for fuelling,739,CAGEN,10101,510101003835005
13,220,107411458654,https://www.ccavenue.com/,13730.00,T,00220180803076872493,S,30820180905,NaN,Airticket,469,SBGEN,20101,520101010623589
14,220,107411459818,https://api.zaakpay.com,651.80,T,00220180803076872586,S,30820180908,NaN,0,1118,SBGEN,20101,520101063867695
15,220,107411461164,https://www.drivetrackplus.com,20143.00,T,00220180803076872790,S,30820180914,NaN,KA16 c 7986 Raipur,318,CAGEN,10101,510101000979642
16,220,107411472875,https://api.zaakpay.com,100000.00,T,00220180803076873813,S,30820180938,NaN,bajaj,1016,CAGEN,10101,510101002659629
17,220,107411473365,https://api.zaakpay.com,1591.80,T,00220180803076873882,S,30820180940,NaN,Irctc,467,CLUCC,60371,560371000519751
18,220,107411475641,https://www.ccavenue.com/,73991.00,T,00220180803076874214,S,30820180947,NaN,0,45,SBGEN,20101,520101215848213
19,220,107411476623,https://api.zaakpay.com,9100.00,T,00220180803076874275,S,30820180948,NaN,0,583,SBGEN,20101,520101264926400
20,220,107411479493,https://api.zaakpay.com,102.12,T,00220180803076874477,S,30820180953,NaN,Recharge,602,SBGEN,20101,520101047692134
21,220,107411478794,https://www.marutiinsurance.co,4180.00,T,00220180803076874549,S,30820180954,NaN,car insurance renewal,256,SBSPP,20291,520291014632344
22,220,107411483530,https://api.zaakpay.com,510.62,T,00220180803076874895,S,30820181000,NaN,0,434,SBSTF,20111,520111123616715
23,220,107411485517,https://api.zaakpay.com,2401.80,T,00220180803076875147,S,30820181004,NaN,0,22,CAGEN,10101,510101005875853
24,220,107411490272,http://www.makemytrip.com,3636.00,T,00220180803076875724,S,30820181014,NaN,go air charges,1170,SBPSU,20451,520451007170215
25,220,107411496890,http://www.makemytrip.com,3563.00,T,00220180803076876514,S,30820181026,NaN,Hotel Booking at Coimbatore,456,CSLPS,65141,565141000021721
26,220,107411499869,http://www.makemytrip.com,4598.00,T,00220180803076876812,S,30820181031,NaN,bhu-delh (gautam),205,CAGEN,10101,510101004881353
27,220,107411501137,https://api.zaakpay.com,296.80,T,00220180803076877035,S,30820181034,NaN,0,133,SBSTF,20111,520111123526074
28,220,107411501695,http://www.makemytrip.com,3923.00,T,00220180803076877163,S,30820181036,NaN,Flight charges,1170,SBPYO,20471,520471003636724
29,220,CCAFH2AEW897,220,4330.00,T,00220180803076877352,S,30820181039,NaN,SUVIDHAA,1021,SBGEN,20101,520101048894199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3473,10,CCAFH2DMG213,010,1699.00,T,00220180806076039446,S,60820181923,NaN,0,481,SBGEN,20101,520101020507190
3474,10,CCAFH1DMG217,010,990.00,T,00220180806076039791,S,60820181930,NaN,0,82,CAGEN,10101,510101000878706
3475,10,CCAFH2DMG216,010,1350.00,T,00220180806076039968,S,60820181934,NaN,0,592,SBGEN,20101,520101033915586
3476,10,CCAFH2DMG219,010,1120.00,T,00220180806076040921,S,60820181956,NaN,kids,712,SBGEN,20101,520101208730792
3477,10,CCAFH2DMG220,010,483.00,T,00220180806076041419,S,60820182006,NaN,Imps,3131,CAGEN,10101,510101001523774
3478,10,CCAFH2DMG221,010,799.00,T,00220180806076041547,S,60820182009,NaN,windows 10pro key,281,SBGEN,20101,520101039709422
3479,10,CCAFH2DMG222,010,998.00,T,00220180806076041666,S,60820182012,NaN,Rakhi Gift,1471,SBGEN,20101,520101050634824
3480,10,CCAFH2DMG225,010,849.00,T,00220180806076043332,S,60820182054,NaN,Rakhi Gift,1471,SBGEN,20101,520101050634824
3481,10,CCAFH1DMG227,010,998.00,T,00220180806076044169,S,60820182115,NaN,Rakhi Gift,1471,SBGEN,20101,520101050634824
3482,10,CCAFH1DMG234,010,354.00,T,00220180806076045911,S,60820182204,NaN,NSTSE,1215,CAGEN,10101,510101004656112
3483,10,CCAFH2DMG240,010,1449.00,T,00220180806076046351,S,60820182220,NaN,avast premier,577,SBPYO,20471,520471000066961
3484,10,CCAFH1DMG241,010,200.00,T,00220180806076046368,S,60820182220,NaN,0,89,SBGEN,20101,520101012626331
3485,10,CCAFH2DMG244,010,627.00,T,00220180806076046986,S,60820182243,NaN,Shopping,668,SBGEN,20101,520101199837178
3486,10,CCAFH2DMG245,010,2350.00,T,00220180806076047004,S,60820182244,NaN,0,18,ODEMP,65181,565181000098953
3487,10,CCAFH1DMG246,010,796.32,T,00220180806076047292,S,60820182254,NaN,Vadirajapooja.com renewal 18-19,215,SBGEN,20101,520101000863552
3488,10,CCAFH2DMG248,010,427.50,T,00220180806076047564,S,60820182305,NaN,Srs,60,SBGEN,20101,520101002754270
3489,10,CCAFH1DMG253,010,45.00,T,00220180806076047766,S,60820182315,NaN,0,2106,SBSPP,20291,520291019347151
3490,10,CCAFH1DMG254,010,495.00,T,00220180806076047791,S,60820182316,NaN,0,2060,SBNGN,20481,520481002060950
3491,10,CCAFH1DMG126,010,200.00,T,00220180806076992864,S,60820180715,NaN,Recharge,3077,SBGEN,20101,520101055109590
3492,10,CCAFH2DMG128,010,834.00,T,00220180806076993327,S,60820180745,NaN,0,663,SBGEN,20101,520101247013605
3493,10,CCAFH1DMG129,010,277.00,T,00220180806076993347,S,60820180746,NaN,Bluetooth,133,SBGEN,20101,520101258236244
3494,10,CCAFH2DMG130,010,1149.00,T,00220180806076993689,S,60820180803,NaN,Happy Rakhi Day,1177,SBNRO,20131,520131000642483
3495,10,CCAFH1DMG131,010,462.00,T,00220180806076993802,S,60820180808,NaN,Medicines,25,SBGEN,20101,520101002304941
3496,10,CCAFH2DMG132,010,1149.00,T,00220180806076993980,S,60820180816,NaN,Rakhi Day,1177,SBNRO,20131,520131000642483
3497,10,CCAFH2DMG133,010,268.00,T,00220180806076994378,S,60820180831,NaN,0,377,SBGEN,20101,520101006754887
3498,10,CCAFH2DMG134,010,760.00,T,00220180806076995680,S,60820180908,NaN,0,2106,SBSPP,20291,520291019347151
3499,10,CCAFH2DMG136,010,592.00,T,00220180806076996703,S,60820180933,NaN,Shoe,470,SBPEL,20452,520452000191069
3500,10,CCAFH2DMG138,010,310.00,T,00220180806076997184,S,60820180942,NaN,0,730,SBSPP,20291,520291017047681
3501,10,CCAFH1DMG140,010,1245.00,T,00220180806076998679,S,60820181006,NaN,click in advt,712,CAGEN,10101,510101005474415
3502,10,CCAFH2DMG152,010,2740.68,T,00220180806276025672,S,60820181220,NaN,Domain,686,CAGEN,10101,510101000638608

In [64]:
import io
import requests
url="http://10.10.10.54/DataProcessor/assets/data/ANDB_DB.xls"
s=requests.get(url).content
c=pd.read_excel(io.StringIO(s.decode('utf-8')))
c

TypeError: unsupported operand type(s) for <<: 'str' and 'int'

In [6]:
import requests 
import xml.etree.ElementTree as ET 

# url of news rss feed 
RSS_FEED_URL = "http://www.hindustantimes.com/rss/topnews/rssfeed.xml"	

def loadRSS(): 
    ''' 
    utility function to load RSS feed 
    '''
    # create HTTP request response object 
    resp = requests.get(RSS_FEED_URL) 

    # return response content 
    return resp.content 

def parseXML(rss): 
    ''' 
    utility function to parse XML format rss feed 
    '''
    # create element tree root object 
    root = ET.fromstring(rss) 

    # create empty list for news items 
    newsitems = [] 

    # iterate news items 
    for item in root.findall('./channel/item'): 
        news = {} 

        # iterate child elements of item 
        for child in item: 

            # special checking for namespace object content:media 
            if child.tag == '{http://search.yahoo.com/mrss/}content': 
                news['media'] = child.attrib['url'] 
            else: 
                news[child.tag] = child.text.encode('utf8') 
        newsitems.append(news) 

    # return news items list 
    return newsitems 

def topStories(): 
    ''' 
    main function to generate and return news items 
    '''
    # load rss feed 
    rss = loadRSS() 

    # parse XML 
    newsitems = parseXML(rss) 
    return newsitems

In [7]:
topStories()

ParseError: not well-formed (invalid token): line 145, column 18 (<string>)

In [2]:
# importing the requests library 
import requests 

# defining the url 
url = "https://secure.ccavenue.ae/transaction/getRSAKey"

# your Access Code and Order ID 
access_code = "AVUQ03GK18BR25QURB"  #put access code here
order_id = "test123"                #provide your order id here

# data to be sent to url 
data = {'access_code':access_code, 
        'order_id':order_id} 

# sending post request and saving response as response object 
r = requests.post(url = url, data = data) 

# extracting response text 
url_response = r.text 
print(url_response)

MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApPQhuyOkVfPBh+HvfsOEr1DHLV87NiRT
sfj339YvFqXwXCFjLVkL0O7U44AqdGhd2z1w2mjDEMtvWwcxe93IhM1AcSgVvVEPDdqDn2rnrjRI
+eeXoL2NBWNAkK1M45OpLBrtf4C+SKW7xt6ps2EwVOAxZbrfBlfn/APvlNtzCJ3RRCiefnN/Wn0Z
tq8Y2lqlJCua94KcRoBrmXlI5ty3MoQU944Bs1jRQynQHoUNjBZKLFGxQS/BtYxV1UuTO+Prg7JI
EbLS4yMZCYnrkzP2Gav7AHPGQfh5Y9j7n2YtiYOKSs4yfnocZSyzJoqc7pCUro25SOshHBkxrWup
2UXuWQIDAQAB

In [15]:
A = ['This', 'is', 'String', 'one', 'two']
B = ['one', 'two', 'three', 'four']

commonWords = [a for a in A if any(b in a for b in B)]

print(commonWords)

['one', 'two']

In [17]:
list1 = [1, 2]
list2 = [1, 3]


list1_as_set = set(list1)
intersection = list1_as_set.intersection(list2)

intersection_as_list = list(intersection)

print(intersection_as_list)

[1]

In [2]:
# interview practice
# Monkey Patching
class MyClass(object):
    def f(self):
        print("f()")

In [3]:
def monkey_f(self):
    print("monkey_f()")

In [4]:
x = MyClass()

In [5]:
x.f()

f()

In [6]:
MyClass.f = monkey_f

In [7]:
obj = MyClass()

In [8]:
obj.f()

monkey_f()

In [9]:
x.f()

monkey_f()

In [9]:
l1 = ['1','2','3','4','10','5']

In [10]:
l2 = ['1','2','3','4','10','5']

In [11]:
l2.sort()

In [12]:
l2

['1', '10', '2', '3', '4', '5']

In [13]:
l1

['1', '2', '3', '4', '10', '5']

In [22]:
l3 = map(lambda x: int(x), l2)

In [23]:
l3

In [17]:
for i in l3:
    print(i)

1
2
3
4
10
5

In [19]:
l3.sort()

AttributeError: 'map' object has no attribute 'sort'

In [7]:
a = ['asd','fgh','jkl','zxc']

In [9]:
a[-1][-1]

'c'

In [18]:
a=(1,2,3)

In [21]:
a[1] = 5

TypeError: 'tuple' object does not support item assignment

In [20]:
class test:
    def init(self):
        print""Hello

3

time.time()

In [24]:
time.time()

1613032197.449736

In [23]:
import time

In [20]:
def f(x):
    for i in range(5):
        yield i
g = f(8)
print(list(g))
a = list(g)

[0, 1, 2, 3, 4]

In [21]:
print(list(g))

[]

In [19]:
a

In [31]:
print(chr(ord('b')+1))

c

In [32]:
l1 = [1,2,3,4]

In [33]:
l2 =l1

In [34]:
l1.insert(4,5)

In [35]:
l2

[1, 2, 3, 4, 5]

In [36]:
l = ['a','b','c','d']

In [37]:
fnaxtyyzz

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-37-75ca09711966>, line 1)

In [25]:

for _ in range(int(input())):
    listum = input()
    empty = {}
    for i in listum:
        empty[i] = listum.count(i)
    print(max(empty, key=empty.get))
#     print(empty[max(empty.keys())])

1
fnaxtyyzz
y

In [23]:
for _ in range(int(input())):
  list = input()
  arr = [0]*26
  for i in list:
    arr[ord(i)-ord('a')]+=1
  maxi = max(arr)
  print(chr(arr.index(maxi) + 97))

2

In [16]:
empty[2]

'q'

'y'

In [ ]:
# Morgan Stanly 1st round

In [1]:
list2 = [0,1,2,0,0,5,0,7,0]

In [2]:
list3 = [x for x in list2 if x >= 1]

In [3]:
list3

[1, 2, 5, 7]

In [4]:
list4 = []
for i in list2:
    if i >= 1:
        list4.append(i)
for i in list2:
    if i == 0:
        list4.append(i)

In [5]:
list4

[1, 2, 5, 7, 0, 0, 0, 0, 0]

In [6]:
# a = gan StanleyMor
a = 'Morgan Stanley'

In [7]:
a[3:]

'gan Stanley'

In [8]:
a = a[3:] + a[0:3]

In [9]:
a

'gan StanleyMor'

In [29]:
a = 'Morgan Stanley'
k = int(input())
a[k:] + a[0:k]

3

'gan StanleyMor'

In [25]:
def stringRotaion(k, a):
    return a[k:] + a[0:k]

In [12]:
a = 'Morgan Stanley'
print(stringRotaion(-1, a))

yMorgan Stanle

In [1]:
def nthlargest(n):
    list2 = []
    list1 = [2,3,6,24,5,1,2,6]
    for i in list1:
        if i not in list2:
            list2.append(i)
    list1.sort()
    return list1[n-1]

In [14]:
list1 = [2,3,6,2,24,5,6]

In [15]:
list1.sort()

In [16]:
list1

[2, 2, 3, 5, 6, 6, 24]

In [2]:
nthlargest(3)

2

Started
I am func2
Ended
Started
I am func3
Ended

NoneType

In [40]:
# Generators
x = [i**2 for i in range(10000000000)]

MemoryError:

In [44]:
for i in range(10000000000):
    yield i

SyntaxError: 'yield' outside function (<ipython-input-44-8e3250a0921e>, line 2)

In [47]:
list(((i**2) for i in range(10000000000)))

MemoryError:

In [1]:
# Demonstrate Python Generator Function

def fibonacci(xterms):
    # first two terms
    x1 = 0
    x2 = 1
    count = 0

    if xterms <= 0:
       print("Please provide a +ve integer")
    elif xterms == 1:
       print("Fibonacci seq upto",xterms,":")
       print(x1)
    else:
       while count < xterms:
           xth = x1 + x2
           x1 = x2
           x2 = xth
           count += 1
           yield xth

fib = fibonacci(5)

print(next(fib))
print(next(fib))
print(next(fib))
print(next(fib))
print(next(fib))
print(next(fib))

1
2
3
5
8

StopIteration:

In [ ]:
# Morgan Stanly 2nd round

In [95]:
lst = [10,2,5,3,7,4,9]

def nthLargest(lst, x):
    sortList = []
    for _ in range(x):
        num = 0
        for i in range(len(lst)):
            if num < lst[i] and lst[i] not in sortList:
                num = lst[i]
        sortList.append(num)
    return sortList[x-1]
        
print(nthLargest(lst, 2))

9

In [94]:
def select(lst, k):
    for i in range(k):
        minIndex = i
        minValue = lst[i]
        for j in range(i+1, len(lst)):
            if lst[j] < minValue:
                minIndex = j
                minValue = lst[j]
        lst[i], lst[minIndex] = lst[minIndex], lst[i]
    return lst[k]

select(lst, 2)

5

In [15]:
# Decorators
def func(f):
    def wrapper():
        print("Started")
        f()
        print("Ended")
    return wrapper
    
@func
def func2():
    print("I am func2")
    
@func
def func3():
    print("I am func3")
    
func2()    
type(func2)

Started
I am func2
Ended

function

In [5]:
class node():
    def __init__(self, val):
        self.val = val
        self.next = None
        
n1 = node(1)
n2 = node(2)
n3 = node(3)

n1.next = n3
n2.next = n3

In [ ]:
# 12

[[1,2,3],
[4,9,13],
[7,12,14]]

In [ ]:
(2,1)

In [ ]:
# Heap and Stack memory, and garbage collection

In [ ]:
# Decorators