In [1]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pymssql
from sqlalchemy import MetaData, create_engine
import pyodbc
from sqlalchemy.orm import Session
from sqlalchemy import (MetaData, Table, Column, Integer, Numeric, String,
                        DateTime, ForeignKey, create_engine)
from sqlalchemy import select
from datetime import datetime
import pandas as pd

In [35]:
df = pd.read_csv('data/COP_NBK.txt', sep='^',
                 header=None,  engine='python', error_bad_lines=False)
df.head()

Skipping line 1497: Expected 14 fields in line 1497, saw 15

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,220,107411425232,https://www.ccavenue.com/,13806.00,T,00220180803076869838,S,30820180711,NaN,0,23,SBGEN,20101,520101048774371
1,220,CCAFH2AEW895,220,1995.00,T,00220180803076869844,S,30820180712,NaN,Ahmedabad to hubli,347,SBGEN,20101,520101004966917
2,220,CCAFH2AEW896,220,2794.00,T,00220180803076869894,S,30820180715,NaN,0,124,SBGEN,20101,520101008129920
3,220,107411434398,https://api.zaakpay.com,266.80,T,00220180803076870498,S,30820180751,NaN,25senniappan,5,CAGEN,10101,510101005866668
4,220,107411434837,http://ranchimunicipal.net,3140.26,T,00220180803076870564,S,30820180755,NaN,0,457,SBGEN,20101,520101264745041

In [36]:
srcDstDict = {7: 'date', 2: 'client', 3: 'amount', 5: 'transID', 13: 'serialNumber'}
sSourceColumns = [7, 2, 3, 5, 13]
df = df[[2, 3, 5, 7, 13]]
df.rename(columns=srcDstDict, inplace=True)
df = df[['date', 'client', 'amount', 'transID', 'serialNumber']]

In [34]:
df.head()

,date,client,amount,transID,serialNumber
0,30820180711,https://www.ccavenue.com/,13806.00,00220180803076869838,520101048774371
1,30820180712,220,1995.00,00220180803076869844,520101004966917
2,30820180715,220,2794.00,00220180803076869894,520101008129920
3,30820180751,https://api.zaakpay.com,266.80,00220180803076870498,510101005866668
4,30820180755,http://ranchimunicipal.net,3140.26,00220180803076870564,520101264745041

In [37]:
db_username = 'avn_monitor'
db_password = 'Pass@123'
db_ip = '192.168.1.30'
db_name = 'Req_data'

engine = create_engine('mssql+pymssql://{0}:{1}@{2}/{3}'.
                       format(db_username, db_password,
                              db_ip, db_name), pool_pre_ping=True, pool_recycle=3600)

In [38]:
engine

Engine(mssql+pymssql://avn_monitor:***@192.168.1.30/Req_data)

In [46]:
metadata = MetaData()
# php_test = Table('php_test', metadata, autoload=True, autoload_with=engine)
s = select([php_test]).limit(1)
# print(engine.execute(s).fetchall())

In [47]:
engine.execute(s).fetchall()

[(1, '30820180711', 'https://www.ccavenue.com/', '13806.0', '00220180803076869838', '520101048774371', None, None)]

In [42]:
df.to_sql('php_test', con=engine, if_exists='append', index=False)

In [49]:
# php_test.drop(engine)

In [50]:
php_test = Table('php_test', metadata,
                 Column('id', Integer(), primary_key=True),
                 Column('date', String(50)),
                 Column('client', String(50)),
                 Column('amount', String(50)),
                 Column('transID', String(50), index=True),
                 Column('serialNumber', String(50))
                 )
metadata.create_all(engine)

InvalidRequestError: Table 'php_test' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.