In [2]:
import pandas as pd
import re
import dateutil.parser as parser
import datetime
import os

In [37]:
df = pd.read_excel("output.xlsx")

In [38]:
df.head()

,Unnamed: 0,date,client,amount,transID,serialNumber
0,0,2018-05-08T00:00:00Z,92533000,246.0,107412792529,332602010439864
1,1,2018-05-08T00:00:00Z,92526574,215.0,107412653736,514302070026135
2,2,2018-05-08T00:00:00Z,92526329,149.0,107412650111,537202010054193
3,3,2018-05-08T00:00:00Z,92530604,100.0,107412741040,513002010004250
4,4,2018-05-08T00:00:00Z,92528751,209.0,CCAFH2GGN932,452502010014685

In [39]:
df = df[['date','client', 'amount', 'transID','serialNumber']]

In [40]:
df.head()

                   date    client  amount       transID     serialNumber
0  2018-05-08T00:00:00Z  92533000   246.0  107412792529  332602010439864
1  2018-05-08T00:00:00Z  92526574   215.0  107412653736  514302070026135
2  2018-05-08T00:00:00Z  92526329   149.0  107412650111  537202010054193
3  2018-05-08T00:00:00Z  92530604   100.0  107412741040  513002010004250
4  2018-05-08T00:00:00Z  92528751   209.0  CCAFH2GGN932  452502010014685

In [41]:
regex = re.compile('\'')
for i in df:
    if(df[i].dtype == object):
        df.loc[:,i] = df.loc[:,i].astype(str)
        df[i] = df[i].map(lambda x: re.sub(regex, '', x))
        df[i] = df[i].apply(lambda x: x.strip())

In [42]:
df.head()

                   date    client  amount       transID     serialNumber
0  2018-05-08T00:00:00Z  92533000   246.0  107412792529  332602010439864
1  2018-05-08T00:00:00Z  92526574   215.0  107412653736  514302070026135
2  2018-05-08T00:00:00Z  92526329   149.0  107412650111  537202010054193
3  2018-05-08T00:00:00Z  92530604   100.0  107412741040  513002010004250
4  2018-05-08T00:00:00Z  92528751   209.0  CCAFH2GGN932  452502010014685

In [43]:
df.loc[:,'date'] = df.loc[:,'date'].astype(str)

In [44]:
df['date'] = df['date'].map(lambda x: datetime.datetime.strptime(str(x), '%Y-%m-%dT%H:%M:%SZ'))

In [45]:
df['date'] = df['date'].map(lambda x: datetime.datetime.strftime(x, '%Y-%m-%d %H:%M:%S'))

In [46]:
df.head()

                  date    client  amount       transID     serialNumber
0  2018-05-08 00:00:00  92533000   246.0  107412792529  332602010439864
1  2018-05-08 00:00:00  92526574   215.0  107412653736  514302070026135
2  2018-05-08 00:00:00  92526329   149.0  107412650111  537202010054193
3  2018-05-08 00:00:00  92530604   100.0  107412741040  513002010004250
4  2018-05-08 00:00:00  92528751   209.0  CCAFH2GGN932  452502010014685

In [2]:
import pymssql
server = '172.16.2.15', 
user = 'avmntr.19818' , 
password = 'M0n1tor$2' , 
port = '12625',

In [10]:
conn = pymssql.connect(server='172.16.2.15', user='avmntr.19818', password='M0n1tor$2', database='', port='12625',  charset="utf8")
cursor = conn.cursor()
cursor.execute('SELECT LTRIM(RTRIM(hostname)) hostname,LTRIM(RTRIM(loginame)) loginame,COUNT(DISTINCT spid) Count,MAX(spid) Max_Session_Id FROM sys.sysprocesses GROUP BY LTRIM(RTRIM(hostname)),LTRIM(RTRIM(loginame)) order by Count desc')
row = cursor.fetchall()

OperationalError: (20009, b'DB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (172.16.2.15:12625)\nNet-Lib error during Connection refused (111)\n')

In [165]:
line = "this is, a. test *10/31/1981 we ┬áUDUPI match only:^'\";_-*&^%$#!`~"
line = re.sub(r"[^a-z0-9.,\- ]", "", line)

In [166]:
line

'this is, a. test 10311981 we  match only-'

In [8]:
string = "Special $#! characters ,  spaces 888323┬áUDUPI"
''.join(e for e in string if e.isalnum())

'Specialcharactersspaces888323'

In [182]:
df = pd.read_excel("SBI.xlsx")

In [183]:
print(df['ADDRESS'][0])
print(df['ADDRESS'][1])
print(df['ADDRESS'][2])

TIRUVURU ROAD,MARLAPADU,DIST KHAMMAM, TELANGANA-507164
TRILOKPUR CHOWK,RAIPUR RANI,DISTT.PANCHKULA.HARYANA 134204
ROWRIAH TINALI,P.O ROWRIAH,JORHAT,DISTT.JORHAT.ASSAM 785005

In [184]:
regex = re.compile("[^A-Za-z0-9.,\- ]")
for i in df:
    df.loc[:,i] = df.loc[:,i].astype(str)
    df[i] = df[i].map(lambda x: re.sub(regex, '', x))
    df[i] = df[i].apply(lambda x: x.strip())

In [185]:
print(df['ADDRESS'][0])
print(df['ADDRESS'][1])
print(df['ADDRESS'][2])

TIRUVURU ROAD,MARLAPADU,DIST KHAMMAM, TELANGANA-507164
TRILOKPUR CHOWK,RAIPUR RANI,DISTT.PANCHKULA.HARYANA 134204
ROWRIAH TINALI,P.O ROWRIAH,JORHAT,DISTT.JORHAT.ASSAM 785005

In [39]:
df.columns

Index(['BANK_NAME', 'IFSC_CODE', 'BRANCH_NAME', 'CITY_NAME', 'ADDRESS',
       'DISTRICT', 'STATE', 'PHONE_NO'],
      dtype='object')

In [ ]:
columns = {'BANK_NAME':'bank_name','IFSC_CODE':'bank_ifsc_code','BRANCH_NAME':'bank_branch','ADDRESS':'bank_address','PHONE_NO':'bank_contact','CITY_NAME':'bank_city',
                'DISTRICT':'bank_district','STATE':'bank_state'}

In [40]:
df1 = pd.read_excel("../Office/BankFiles/Bank of Baroda.xlsx")

In [41]:
df1.columns

Index(['BANK NAME', 'IFSC', 'OFFICE', 'ADDRESS', 'DISTRICT', 'CITY', 'STATE',
       'PHONE'],
      dtype='object')

In [47]:
from os import listdir
len(listdir("../Office/BankFiles/"))

232

In [192]:
columns = []
data =  pd.DataFrame()
a = 1
for i in listdir("../Office/BankFiles/"):
#     print(i)
    try:
        df = pd.read_excel("../Office/BankFiles/"+i)
        regex = re.compile("[^A-Za-z0-9.,\- ]")
        for i in df:
            df.loc[:,i] = df.loc[:,i].astype(str)
            df[i] = df[i].map(lambda x: re.sub(regex, '', x))
            df[i] = df[i].apply(lambda x: x.strip())
    #         print(list(df.columns))
        if list(df.columns) not in columns:
            columns.append(list(df.columns))
            df.head().to_excel(str(a)+".xlsx")
            a +=1
    except:
        print(": There is no data available for this Bank.")

: There is no data available for this Bank.

In [99]:
pd.concat([df.head(2), df.head(2)])

,BANK NAME,IFSC,OFFICE,ADDRESS,DISTRICT,CITY,STATE,PHONE
0,The Kerala State Co Operative Bank Ltd,KSBK0000002,STATUE,KERALA STATE CO-OPERATIVE AGRL. & RURAL DEVELO...,THIRUVANANTHAPURAM,THIRUVANANTHAPURAM,KERALA,2478040
1,The Kerala State Co Operative Bank Ltd,KSBK0000003,"PEROORKADA, THIRUVANANTHAPURAM","KERALA LAW ACADEMY CAMPUS,PEROORKADA",THIRUVANANTHAPURAM,THIRUVANANTHAPURAM,KERALA,2432734
0,The Kerala State Co Operative Bank Ltd,KSBK0000002,STATUE,KERALA STATE CO-OPERATIVE AGRL. & RURAL DEVELO...,THIRUVANANTHAPURAM,THIRUVANANTHAPURAM,KERALA,2478040
1,The Kerala State Co Operative Bank Ltd,KSBK0000003,"PEROORKADA, THIRUVANANTHAPURAM","KERALA LAW ACADEMY CAMPUS,PEROORKADA",THIRUVANANTHAPURAM,THIRUVANANTHAPURAM,KERALA,2432734

In [91]:

df

Empty DataFrame
Columns: []
Index: []

In [69]:
for i in columns:
    print(i)

['BANK NAME', 'IFSC ', 'BRANCH 1', 'BRANCH 2', 'ADDRESS', 'CITY 1', 'CITY 2', 'STATE']
['BANK NAME', 'IFSC', 'OFFICE', 'ADDRESS', 'DISTRICT', 'CITY', 'STATE', 'PHONE']
['BANK', 'IFSC', 'MICR', 'BRANCH', 'ADDRESS', 'CONTACT', 'CITY', 'DISTRICT', 'STATE']
['BANK', 'IFSC', 'MICR CODE', 'BRANCH', 'ADDRESS', 'CONTACT', 'CITY', 'DISTRICT', 'STATE']
['BANK NAME', 'IFSC', 'BRANCH', 'ADDRESS', 'CITY 1', 'CITY 2', 'STATE', 'PHONE']
['BANK_NAME', 'IFSC_CODE', 'BRANCH_NAME', 'CITY_NAME', 'ADDRESS', 'DISTRICT', 'STATE', 'PHONE_NO']
['BANK NAME', 'IFSC', 'BRANCH', 'ADDRESS', 'DISTRICT', 'CITY ', 'STATE', 'PHONE']
['BANK NAME', 'IFSC', 'BRANCH', 'ADDRESS', 'CITY', 'DISTRICT', 'STATE', 'PHONE']
['BANK ', 'IFSC CODE', 'MICR CODE', 'BRANCH NAME', 'ADDRESS', 'CONTACT', 'CITY', 'DISTRICT', 'STATE']
['BANKNAME', 'IFSC', 'MICR_CODE', 'BRANCH', 'ADDRESS', 'CONTACT1', 'CENTRE', 'DISTRICT', 'STATE']
['BANK NAME', 'IFSC', 'BRANCH', 'ADDRESS', 'CITY1', 'CITY2', 'STATE', 'PHONE']

In [ ]:
['BANK ', 'IFSC CODE', 'MICR CODE', 'BRANCH 1', 'BRANCH 2', 'ADDRESS', 'CONTACT', 'CITY1', 'CITY2', 'DISTRICT', 'STATE']

In [70]:
z = ['BANK NAME', 'IFSC ', 'BRANCH 1', 'BRANCH 2', 'ADDRESS', 'CITY 1', 'CITY 2', 'STATE']
z

['BANK NAME',
 'IFSC ',
 'BRANCH 1',
 'BRANCH 2',
 'ADDRESS',
 'CITY 1',
 'CITY 2',
 'STATE']

In [71]:
str(z)

"['BANK NAME', 'IFSC ', 'BRANCH 1', 'BRANCH 2', 'ADDRESS', 'CITY 1', 'CITY 2', 'STATE']"

In [72]:
', '.join(z)

'BANK NAME, IFSC , BRANCH 1, BRANCH 2, ADDRESS, CITY 1, CITY 2, STATE'

In [ ]:
df = pd.read_csv("/home/varun.singh/Dev/Python/Practice/data/"+sys.argv[1], sep="|", index_col=False)
df.columns = pd.RangeIndex(1, len(df.columns)+1)

ext = (".xls", ".xlsx")
if(sys.argv[1].endswith(sys.argv[1])):
    df = pd.read_excel("/home/varun.singh/Dev/Python/Practice/data/"+sys.argv[1])
else:
    if bFileHeaderCheck == 1:
            df = pd.read_csv("/home/varun.singh/Dev/Python/Practice/data/"+sys.argv[1], sep=qTemplate.sFileDelimeter, header=0)
    else:
        df = pd.read_csv("/home/varun.singh/Dev/Python/Practice/data/"+sys.argv[1], sep=qTemplate.sFileDelimeter, header=None)

In [4]:
import csv
with open('/home/varun.singh/Dev/Python/Practice/data/FSS_DB_NOCVV.csv', 'rb') as csvfile:
    sniffer = csv.Sniffer()
    has_header = sniffer.has_header(csvfile.read(2048))
    csvfile.seek(0)

TypeError: initial_value must be str or None, not bytes

In [7]:
df = pd.read_csv('/home/varun.singh/Dev/Python/Practice/data/FSS_DB_NOCVV.csv', header=None)

In [8]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,Column-0,Column-1,Column-2,Column-3,Column-4,Column-5,Column-6,Column-7,Column-8,Column-9,Column-10,Column-11,Column-12,Column-13,Column-14,Column-15,Column-16,Column-17,Column-18,Column-19
1,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821810560232,107413059920,821870000240,708311,295,06/08/2018,07:35:20,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413059920,9e16a94ee496b71f674939a7dee4269488ee79f4bc1373...,295,0,0,295
2,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821888519390,107413070308,821870000305,716436,600,06/08/2018,08:06:01,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413070308,d219d752af7dedee2b9817cd6716531b66a7e4fc30fb14...,600,0,0,600
3,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821812759745,107413084767,821870000453,732215,328,06/08/2018,08:48:39,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413084767,a3f850737cbc9065dd0ce3f4dd8b92c1d53f6afd41df40...,328,0,0,328
4,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821812953140,107413085674,821870000472,735078,100,06/08/2018,08:55:06,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413085674,ac40a23b73749659d88cdee3b0db034490587fd3bae758...,100,0,0,100

In [9]:
df = pd.read_excel('/home/varun.singh/Dev/Python/Practice/data/ANDB_DB.xls', header=None)

In [10]:
df.head()

           0         1         2             3         4              5
0   Column-0  Column-1  Column-2      Column-3  Column-4       Column-5
1  02-AUG-18  S8478666   5002001  821480002475       348  '107411302346
2  02-AUG-18  S7372090   5002001  821470002498       499  '107411047372
3  02-AUG-18  S7364733   5002001  821480001143       149  '107411044908
4  02-AUG-18  S7774083   5002001  821480001793     10000  '107411167199

In [34]:
file = "ANDB_DB.xls"
ext = (".xls", ".xlsx")
if(file.endswith(ext)):
    df = pd.read_excel("/home/varun.singh/Dev/Python/Practice/data/"+file, header=None)
else:
    df = pd.read_csv("/home/varun.singh/Dev/Python/Practice/data/"+file, engine='python', sep="[,^|]", header=None)
df.columns = pd.RangeIndex(1, len(df.columns)+1)
df.head()

           1         2         3             4         5              6
0   Column-0  Column-1  Column-2      Column-3  Column-4       Column-5
1  02-AUG-18  S8478666   5002001  821480002475       348  '107411302346
2  02-AUG-18  S7372090   5002001  821470002498       499  '107411047372
3  02-AUG-18  S7364733   5002001  821480001143       149  '107411044908
4  02-AUG-18  S7774083   5002001  821480001793     10000  '107411167199

In [15]:
df = pd.read_csv("/home/varun.singh/Dev/Python/Practice/data/FSS_DB_NOCVV.csv", sep=",", header=None)
df.columns = pd.RangeIndex(1, len(df.columns)+1)
df.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,Column-0,Column-1,Column-2,Column-3,Column-4,Column-5,Column-6,Column-7,Column-8,Column-9,Column-10,Column-11,Column-12,Column-13,Column-14,Column-15,Column-16,Column-17,Column-18,Column-19
1,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821810560232,107413059920,821870000240,708311,295,06/08/2018,07:35:20,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413059920,9e16a94ee496b71f674939a7dee4269488ee79f4bc1373...,295,0,0,295
2,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821888519390,107413070308,821870000305,716436,600,06/08/2018,08:06:01,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413070308,d219d752af7dedee2b9817cd6716531b66a7e4fc30fb14...,600,0,0,600
3,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821812759745,107413084767,821870000453,732215,328,06/08/2018,08:48:39,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413084767,a3f850737cbc9065dd0ce3f4dd8b92c1d53f6afd41df40...,328,0,0,328
4,400046,CCAvenue Ecommerce,SYNDICATE BANK,121821812953140,107413085674,821870000472,735078,100,06/08/2018,08:55:06,CAPTURED,https://secure.ccavenue.com/receive/201/servle...,https://secure.ccavenue.com/receive/201/servle...,400046,107413085674,ac40a23b73749659d88cdee3b0db034490587fd3bae758...,100,0,0,100

In [1]:
from os import path
from shutil import disk_usage

In [17]:
total_bytes, used_bytes, free_bytes = disk_usage(path.realpath('D:'))

In [18]:
print(total_bytes / 1000000) # for Mb
print(used_bytes / 1000000)
print(free_bytes / 1000000)

889160.986624
754616.102912
134544.883712

In [19]:
free_bytes = free_bytes/1024

In [20]:
free_bytes = free_bytes/1024

In [21]:
free_bytes = free_bytes/1024

In [22]:
# free_bytes = free_bytes/1024

In [23]:
free_bytes

125.3046875

NameError: name 'python3' is not defined

In [25]:
import win32api
import win32net

In [29]:
ip = '192.168.31.155'
username = 'ram'
password = 'ram@123'

use_dict={}
use_dict['remote']=unicode('\\\\192.168.31.155\C$')
use_dict['password']=unicode(password)
use_dict['username']=unicode(username)
win32net.NetUseAdd(None, 2, use_dict)

NameError: name 'unicode' is not defined

In [28]:
import psutil
print(psutil.disk_usage(".").free)

134544879616

In [5]:
import paramiko

hostname = "192.168.1.30"
username = "avn.monitor"
password = "Pass1234"
cmd = 'dir'


ssh = paramiko.SSHClient()
ssh.set_missing_host_key_policy(paramiko.AutoAddPolicy())
ssh.connect(hostname,username=username,password=password)
print("Connected to %s" % hostname)

NoValidConnectionsError: [Errno None] Unable to connect to port 22 on 192.168.1.30

In [3]:
#!/usr/bin/env python
import winrm

# Create winrm connection.
sess = winrm.Session('https://192.168.1.30', auth=('avn.monitor', 'Pass1234'), transport='kerberos')
result = sess.run_cmd('ipconfig', ['/all'])

KerberosExchangeError: authGSSClientInit() failed: (('Unspecified GSS failure.  Minor code may provide more information', 851968), ("Can't find client principal avn.monitor@AVINDIA.COM in cache collection", -1765328243))

In [6]:
from easysnmp import snmp_get, snmp_set, snmp_walk

In [117]:
snmp_walk('HOST-RESOURCES-MIB::hrStorageAllocationUnits', hostname='192.168.1.30', community='avitglocal', version=1)

[<SNMPVariable value='4096' (oid='hrStorageAllocationUnits', oid_index='1', snmp_type='INTEGER')>,
 <SNMPVariable value='4096' (oid='hrStorageAllocationUnits', oid_index='2', snmp_type='INTEGER')>,
 <SNMPVariable value='4096' (oid='hrStorageAllocationUnits', oid_index='3', snmp_type='INTEGER')>,
 <SNMPVariable value='4096' (oid='hrStorageAllocationUnits', oid_index='4', snmp_type='INTEGER')>,
 <SNMPVariable value='0' (oid='hrStorageAllocationUnits', oid_index='5', snmp_type='INTEGER')>,
 <SNMPVariable value='0' (oid='hrStorageAllocationUnits', oid_index='6', snmp_type='INTEGER')>,
 <SNMPVariable value='65536' (oid='hrStorageAllocationUnits', oid_index='7', snmp_type='INTEGER')>,
 <SNMPVariable value='65536' (oid='hrStorageAllocationUnits', oid_index='8', snmp_type='INTEGER')>]

In [75]:
snmp_walk('HOST-RESOURCES-MIB::hrStorageUsed', hostname='192.168.1.30', community='avitglocal', version=1)

[<SNMPVariable value='30953647' (oid='hrStorageUsed', oid_index='1', snmp_type='INTEGER')>,
 <SNMPVariable value='101361795' (oid='hrStorageUsed', oid_index='2', snmp_type='INTEGER')>,
 <SNMPVariable value='87765833' (oid='hrStorageUsed', oid_index='3', snmp_type='INTEGER')>,
 <SNMPVariable value='34893275' (oid='hrStorageUsed', oid_index='4', snmp_type='INTEGER')>,
 <SNMPVariable value='0' (oid='hrStorageUsed', oid_index='5', snmp_type='INTEGER')>,
 <SNMPVariable value='0' (oid='hrStorageUsed', oid_index='6', snmp_type='INTEGER')>,
 <SNMPVariable value='1059510' (oid='hrStorageUsed', oid_index='7', snmp_type='INTEGER')>,
 <SNMPVariable value='1032667' (oid='hrStorageUsed', oid_index='8', snmp_type='INTEGER')>]

In [92]:
driveStorage = snmp_walk(oids=u'.1.3.6.1.2.1.25.2.3.1.5', hostname='192.168.1.30', community='avitglocal', version=1)

In [93]:
driveStorage

[<SNMPVariable value='39398143' (oid='hrStorageSize', oid_index='1', snmp_type='INTEGER')>,
 <SNMPVariable value='104857599' (oid='hrStorageSize', oid_index='2', snmp_type='INTEGER')>,
 <SNMPVariable value='104857599' (oid='hrStorageSize', oid_index='3', snmp_type='INTEGER')>,
 <SNMPVariable value='52428799' (oid='hrStorageSize', oid_index='4', snmp_type='INTEGER')>,
 <SNMPVariable value='0' (oid='hrStorageSize', oid_index='5', snmp_type='INTEGER')>,
 <SNMPVariable value='0' (oid='hrStorageSize', oid_index='6', snmp_type='INTEGER')>,
 <SNMPVariable value='2094028' (oid='hrStorageSize', oid_index='7', snmp_type='INTEGER')>,
 <SNMPVariable value='1047028' (oid='hrStorageSize', oid_index='8', snmp_type='INTEGER')>]

In [55]:
driveStorage[:4][0]

In [78]:
from easysnmp import Session

In [99]:
session = Session(hostname='192.168.1.30', community='avitglocal', version=1)

In [120]:
session.get('HOST-RESOURCES-MIB::hrStorageSize.1').value

'39398143'

In [121]:
session.get('HOST-RESOURCES-MIB::hrStorageAllocationUnits.1').value

'4096'

In [134]:
storageSize = session.get(('HOST-RESOURCES-MIB::hrStorageSize.2')).value

In [135]:
allocationUnits = session.get('HOST-RESOURCES-MIB::hrStorageAllocationUnits.2').value

In [136]:
totalSize = int(storageSize) * int(allocationUnits)

In [137]:
session.get(('HOST-RESOURCES-MIB::hrStorageUsed.1')).value

'30953776'

In [138]:
usedStorageSize = session.get(('HOST-RESOURCES-MIB::hrStorageUsed.2')).value

In [139]:
usedSize = int(usedStorageSize) * int(allocationUnits)

In [140]:
freeSpace = int(totalSize) - int(usedSize)

In [141]:
freeSpace

14316163072

In [142]:
(totalSize / 1024) / 1024 /1024

399.99999618530273

In [143]:
(freeSpace / 1024) / 1024 /1024

13.332965850830078

In [145]:
from easysnmp import Session
import requests

drive = {"C:":"1", "D:":"2", "E:":"3", "F:":"4"}
message = 'Server DiskSpace Monitoring\n\nServer: 192.168.1.30\n'

session = Session(hostname='192.168.1.30', community='avitglocal', version=1)

for i in drive:
    storageSize = session.get('HOST-RESOURCES-MIB::hrStorageSize.'+drive[i]).value
    allocationUnits = session.get('HOST-RESOURCES-MIB::hrStorageAllocationUnits.'+drive[i]).value

    totalSize = int(storageSize) * int(allocationUnits)

    usedStorageSize = session.get('HOST-RESOURCES-MIB::hrStorageUsed.'+drive[i]).value

    usedSize = int(usedStorageSize) * int(allocationUnits)

    freeSpace = totalSize - usedSize

    totalSize = totalSize / 1024 / 1024 /1024
    freeSpace = freeSpace / 1024 / 1024 /1024
    
    freeSpacePercent = str(round((freeSpace/totalSize) * 100, 2)) + "%"
    totalSize = str(round(totalSize, 2)) +" GB"
    freeSpace = str(round(freeSpace, 2)) +" GB"
    
    print( totalSize )
    print(freeSpace )
    print(freeSpacePercent)
    
    message = message + '\n' + i + "  FreeSpace Left: " + freeSpacePercent


print(message)

URL = "http://sms6.rmlconnect.net/bulksms/bulksms?"
destination = "8109055354"
destination2 = "9930605997"

PARAMS = {'username': "avenues", "password": "zerb5rv", "type": "0",
          "dlr": "1", "source": "CCAVEN"}

PARAMS["message"] = message
PARAMS["destination"] = destination2
response = requests.get(url=URL, params=PARAMS)

400.0
13.2

In [9]:
from pysnmp.hlapi import *

In [10]:
SnmpEngine()

SnmpEngine(snmpEngineID=<SnmpEngineID value object, tagSet <TagSet object, tags 0:0:4>, subtypeSpec <ConstraintsIntersection object, consts <ValueSizeConstraint object, consts 0, 65535>, <ValueSizeConstraint object, consts 5, 32>>, encoding iso-8859-1, payload [0x80004fb8056176...32313334444bca48]>)

In [11]:
[ x for x in dir() if 'Cmd' in x]

['bulkCmd', 'getCmd', 'nextCmd', 'setCmd']

In [42]:
g = getCmd(SnmpEngine(), CommunityData('avitglocal'), UdpTransportTarget(('192.168.1.30', 161)), ContextData(), ObjectType(ObjectIdentity('HOST-RESOURCES-MIB', 'hrStorageSize', 0)))

In [43]:
next(g)

SmiError: Instance index (0,) to OID conversion failure at object 'hrStorageSize': <ConstraintsIntersection object, consts <ValueRangeConstraint object, consts -2147483648, 2147483647>, <ValueRangeConstraint object, consts 1, 2147483647>> failed at: ValueConstraintError('<ValueRangeConstraint object, consts 1, 2147483647> failed at: ValueConstraintError(0,)',) at Integer32caused by <class 'pyasn1.type.error.ValueConstraintError'>: <ConstraintsIntersection object, consts <ValueRangeConstraint object, consts -2147483648, 2147483647>, <ValueRangeConstraint object, consts 1, 2147483647>> failed at: ValueConstraintError('<ValueRangeConstraint object, consts 1, 2147483647> failed at: ValueConstraintError(0,)',) at Integer32

In [22]:
from pysnmp.hlapi.asyncore import UdpTransportTarget

In [23]:
UdpTransportTarget(('192.168.1.30', 161))

UdpTransportTarget(('192.168.1.30', 161), timeout=1, retries=5, tagList=b'')

In [45]:
from pysnmp.hlapi import *

def walk(host, oid):
    for (errorIndication,errorStatus,errorIndex,varBinds) in nextCmd(SnmpEngine(), 
        CommunityData('public'), UdpTransportTarget((host, 161)), ContextData(), 
        ObjectType(ObjectIdentity(oid)),
        lexicographicMode=False):
        if errorIndication:
            print(errorIndication)
            break
        elif errorStatus:
            print('%s at %s' % (errorStatus.prettyPrint(),
                                errorIndex and varBinds[int(errorIndex) - 1][0] or '?'), 
                                file=sys.stderr)             
            break
        else:
            for varBind in varBinds:
                print(varBind)

walk('192.168.1.30','1.3.6.1.2.1.25.2.3.1.5')

No SNMP response received before timeout

In [46]:
from pysnmp.hlapi import *
host = '192.168.1.30'
oid = '1.3.6.1.2.1.25.2.3.1.5'

g = getCmd(SnmpEngine(), CommunityData('public'), UdpTransportTarget((host, 161)), ContextData(), ObjectType(ObjectIdentity(oid)), lexicographicMode=False)

In [47]:
next(g)

(pysnmp.proto.errind.RequestTimedOut('No SNMP response received before timeout'),
 0,
 0,
 [])

In [37]:
x = ObjectIdentity('HOST-RESOURCES-MIB', 'hrStorageSize', 0)

In [38]:
str(x)

SmiError: ObjectIdentity object not properly initialized

In [13]:
a='Server DiskSpace Monitoring\n\nServer: 192.168.1.30'
drive = {"C:":"1", "D:":"2", "E:":"3", "F:":"4"}
ab = ['150.29 GB','32.21 GB', '400.0 GB', '12.72 GB', '400.0 GB', '65.19 GB', '200.0 GB' , '66.89 GB']

for i in drive:
#     print(drive[i])
    a = a + i
print(a)

C:D:E:F:

In [18]:
a='Server DiskSpace Monitoring\n\nServer: 192.168.1.30\n1 Total Size: 150.29 GB Free Space: 32.21 GB
2 Total Size: 400.0 GB Free Space: 12.72 GB
3 Total Size: 400.0 GB Free Space: 65.18 GB
4 Total Size: 200.0 GB Free Space: 66.89 GB'

In [19]:
a

'Server DiskSpace Monitoring\nServer: 192.168.1.30'

In [20]:
import requests
URL = "http://sms6.rmlconnect.net/bulksms/bulksms?"
destination = "8109055354"
destination2 = "9892727524"

PARAMS = {'username': "avenues", "password": "zerb5rv", "type": "0",
          "dlr": "1", "source": "CCAVEN"}

PARAMS["message"] = a
PARAMS["destination"] = destination
response = requests.get(url=URL, params=PARAMS)