In [75]:
import pandas as pd
import re
import dateutil.parser as parser
from datetime import datetime

In [52]:
df = pd.read_excel("CANB_NBK.xls")

In [53]:
df.head()

,Column-0,Column-1,Column-2,Column-3,Column-4,Column-5
0,140455305593619,2724129001844,2018-05-08 00:55:14,107412559543,CCAVENUEF,52883.0
1,165205305591198,2759101053400,2018-05-08 00:41:52,107412556577,CCAVENUE,499.0
2,192089305597534,4549103000009,2018-05-08 01:33:39,107412565690,CCAVENUEF,85448.0
3,206651305614769,1217101107681,2018-05-08 07:08:42,107412588495,CCAVENUE,99.0
4,212974305615863,237201001822,2018-05-08 07:12:21,107412589202,CCAVENUE,995.0

In [54]:
df['Column-2'].dtype

dtype('<M8[ns]')

In [11]:
regex = re.compile('\'')
for i in df:
    print(df[i].dtype)
    if(df[i].dtype == object):
            df[i] = df[i].astype(str)
            df[i] = df[i].map(lambda x: re.sub(regex, '', x))

int64
int64
datetime64[ns]
object
object
float64

In [12]:
df.head()

,Column-0,Column-1,Column-2,Column-3,Column-4,Column-5
0,140455305593619,2724129001844,2018-05-08 00:55:14,107412559543,CCAVENUEF,52883.0
1,165205305591198,2759101053400,2018-05-08 00:41:52,107412556577,CCAVENUE,499.0
2,192089305597534,4549103000009,2018-05-08 01:33:39,107412565690,CCAVENUEF,85448.0
3,206651305614769,1217101107681,2018-05-08 07:08:42,107412588495,CCAVENUE,99.0
4,212974305615863,237201001822,2018-05-08 07:12:21,107412589202,CCAVENUE,995.0

In [89]:
gte, lte = "07/05/2018 - 09/05/2018".split(" - ")

In [90]:
gte

'07/05/2018'

In [91]:
gte = datetime.strptime(gte, '%d/%m/%Y')
lte = datetime.strptime(lte, '%d/%m/%Y')

In [92]:
gte.isoformat()

'2018-05-07T00:00:00'

In [93]:
lte.isoformat()

'2018-05-09T00:00:00'

In [50]:
df['Column-2'] = pd.to_datetime(df['Column-2'], format='%y%m%d%H%M', errors='ignore')

In [51]:
 df.head()

,Column-0,Column-1,Column-2,Column-3,Column-4,Column-5
0,140455305593619,2724129001844,2018-05-08 00:55:14,107412559543,CCAVENUEF,52883.0
1,165205305591198,2759101053400,2018-05-08 00:41:52,107412556577,CCAVENUE,499.0
2,192089305597534,4549103000009,2018-05-08 01:33:39,107412565690,CCAVENUEF,85448.0
3,206651305614769,1217101107681,2018-05-08 07:08:42,107412588495,CCAVENUE,99.0
4,212974305615863,237201001822,2018-05-08 07:12:21,107412589202,CCAVENUE,995.0

In [ ]:
regex = r'^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$'
checkISO = re.compile(regex).match
for i in df[Column-2]:
    if checkISO(i):
        print("True")